
table.calendar { border-left:1px solid #999; }
tr.calendar-row {  }
td.calendar-day {
	background:#F0FFF0;
	height:80px;
	font-size:14px; 
	position:relative; 
} * html div.calendar-day { height:80px; }
td.calendar-day:hover { background:#B3DBD9; }
td.calendar-day-np { 
	background:#B3DBD9; 
	height:80px; 
} * html div.calendar-day-np { height:80px; }
td.calendar-day-head { 
	background:#127E7A; 
	font-weight:bold; text-align:center; color:#fff;
	width:80px; 
	padding:5px; 
	border-bottom:1px solid #999; border-top:1px solid #999; 
	border-right:1px solid #999;  
}
div.day-number { 
	background:#70B8B5; 
	padding:8px; 
	text-align:center; color:#fff; 
	float:right; 
	margin:-45px -5px 0 0; 
	width:20px; 
}
td.calendar-day, td.calendar-day-np { 
	width:80px; 
	padding:5px; 
	border-bottom:1px solid #999; border-right:1px solid #999; }